Prac2Service/UPMAuthorization.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:ns="http://backend.t3.sos.fi.upm.es"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:tns="http://backend.t3.sos.fi.upm.es"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ax21="http://backend.t3.sos.fi.upm.es/xsd"
    targetNamespace="http://backend.t3.sos.fi.upm.es">
    
    <wsdl:types>
        <xsd:schema xmlns:ax22="http://backend.t3.sos.fi.upm.es/xsd" 
                   attributeFormDefault="qualified" 
                   elementFormDefault="qualified" 
                   targetNamespace="http://backend.t3.sos.fi.upm.es">
            <xsd:import namespace="http://backend.t3.sos.fi.upm.es/xsd"/>
            <xsd:element name="removeUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="removeUser" nillable="true" type="ax22:RemoveUser"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="removeUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" nillable="true" type="ax22:RemoveUserResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="changePassword">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="changePassword" nillable="true" type="ax22:ChangePasswordBackEnd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="changePasswordResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" nillable="true" type="ax22:ChangePasswordResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="existUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="username" nillable="true" type="ax22:Username"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="existUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" nillable="true" type="ax22:ExistUserResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="login">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="login" nillable="true" type="ax22:LoginBackEnd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="loginResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" nillable="true" type="ax22:LoginResponseBackEnd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="user" nillable="true" type="ax22:UserBackEnd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" nillable="true" type="ax22:AddUserResponseBackEnd"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://backend.t3.sos.fi.upm.es/xsd">
            <xsd:complexType name="RemoveUser">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RemoveUserResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="result" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ChangePasswordBackEnd">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="newpwd" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="oldpwd" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ChangePasswordResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="result" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Username">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExistUserResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="result" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LoginBackEnd">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LoginResponseBackEnd">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="result" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UserBackEnd">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AddUserResponseBackEnd">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="result" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="existUserRequest">
        <wsdl:part name="parameters" element="ns:existUser"/>
    </wsdl:message>
    <wsdl:message name="existUserResponse">
        <wsdl:part name="parameters" element="ns:existUserResponse"/>
    </wsdl:message>
    <wsdl:message name="removeUserRequest">
        <wsdl:part name="parameters" element="ns:removeUser"/>
    </wsdl:message>
    <wsdl:message name="removeUserResponse">
        <wsdl:part name="parameters" element="ns:removeUserResponse"/>
    </wsdl:message>
    <wsdl:message name="addUserRequest">
        <wsdl:part name="parameters" element="ns:addUser"/>
    </wsdl:message>
    <wsdl:message name="addUserResponse">
        <wsdl:part name="parameters" element="ns:addUserResponse"/>
    </wsdl:message>
    <wsdl:message name="loginRequest">
        <wsdl:part name="parameters" element="ns:login"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="parameters" element="ns:loginResponse"/>
    </wsdl:message>
    <wsdl:message name="changePasswordRequest">
        <wsdl:part name="parameters" element="ns:changePassword"/>
    </wsdl:message>
    <wsdl:message name="changePasswordResponse">
        <wsdl:part name="parameters" element="ns:changePasswordResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="ServiceInterface">
        <wsdl:operation name="existUser">
            <wsdl:input message="tns:existUserRequest" wsaw:Action="urn:existUser"/>
            <wsdl:output message="tns:existUserResponse" wsaw:Action="urn:existUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeUser">
            <wsdl:input message="tns:removeUserRequest" wsaw:Action="urn:removeUser"/>
            <wsdl:output message="tns:removeUserResponse" wsaw:Action="urn:removeUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <wsdl:input message="tns:addUserRequest" wsaw:Action="urn:addUser"/>
            <wsdl:output message="tns:addUserResponse" wsaw:Action="urn:addUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="tns:loginRequest" wsaw:Action="urn:login"/>
            <wsdl:output message="tns:loginResponse" wsaw:Action="urn:loginResponse"/>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <wsdl:input message="tns:changePasswordRequest" wsaw:Action="urn:changePassword"/>
            <wsdl:output message="tns:changePasswordResponse" wsaw:Action="urn:changePasswordResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="UPMAuthenticationAuthorizationWSSkeletonHttpBinding" type="tns:ServiceInterface">
        <http:binding verb="POST"/>
        <wsdl:operation name="existUser">
            <http:operation location="existUser"/>
            <wsdl:input>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeUser">
            <http:operation location="removeUser"/>
            <wsdl:input>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <http:operation location="addUser"/>
            <wsdl:input>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <http:operation location="login"/>
            <wsdl:input>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <http:operation location="changePassword"/>
            <wsdl:input>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:binding name="UPMAuthenticationAuthorizationWSSkeletonSoap12Binding" type="tns:ServiceInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="existUser">
            <soap:operation soapAction="urn:existUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeUser">
            <soap:operation soapAction="urn:removeUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <soap:operation soapAction="urn:addUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap:operation soapAction="urn:changePassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:binding name="UPMAuthenticationAuthorizationWSSkeletonSoap11Binding" type="tns:ServiceInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="existUser">
            <soap:operation soapAction="urn:existUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeUser">
            <soap:operation soapAction="urn:removeUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <soap:operation soapAction="urn:addUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap:operation soapAction="urn:changePassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="UPMAuthenticationAuthorizationWSSkeleton">
        <wsdl:port name="UPMAuthenticationAuthorizationWSSkeletonHttpEndpoint" binding="tns:UPMAuthenticationAuthorizationWSSkeletonHttpBinding">
            <http:address location="http://138.100.15.190:8080/axis2/services/UPMAuthenticationAuthorizationWSSkeleton"/>
        </wsdl:port>
        <wsdl:port name="UPMAuthenticationAuthorizationWSSkeletonHttpSoap11Endpoint" binding="tns:UPMAuthenticationAuthorizationWSSkeletonSoap11Binding">
            <soap:address location="http://138.100.15.190:8080/axis2/services/UPMAuthenticationAuthorizationWSSkeleton"/>
        </wsdl:port>
        <wsdl:port name="UPMAuthenticationAuthorizationWSSkeletonHttpSoap12Endpoint" binding="tns:UPMAuthenticationAuthorizationWSSkeletonSoap12Binding">
            <soap:address location="http://138.100.15.190:8080/axis2/services/UPMAuthenticationAuthorizationWSSkeleton"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>