CalculatorClient/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description xmlns:wsdl2="http://www.w3.org/ns/wsdl"
             xmlns:ns1="http://org.apache.axis2/xsd"
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
             xmlns:whttp="http://www.w3.org/ns/wsdl/http"
             xmlns:wsoap="http://www.w3.org/ns/wsdl/soap"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://calculator.a32.t3.sos"
             targetNamespace="http://calculator.a32.t3.sos">

    <wsdl2:types>
        <xs:schema attributeFormDefault="qualified"
                   elementFormDefault="qualified"
                   targetNamespace="http://calculator.a32.t3.sos">

            <!-- Two new types: a pair of integers and an array of integers -->
            <xs:complexType name="tSimpleAddition">     
                <xs:sequence>      
                    <xs:element name="addend1" type="xs:int"/>      
                    <xs:element name="addend2" type="xs:int"/>      
                </xs:sequence>     
            </xs:complexType>
            <xs:element name="simpleAddition" type="tns:tSimpleAddition"/>

			<xs:complexType name="tArrayAddition">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="addend" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
            <xs:element name="arrayAddition" type="tns:tArrayAddition"/>

            <xs:element name="increment" type="xs:int"/>

            <!-- All methods return an integer -->
            <xs:element name="result" type="xs:int"/>

            <!-- Finally we define a type for error messages -->
            <xs:element name="somethingIsWrong" type="xs:string"/>    
        </xs:schema>
    </wsdl2:types>
    
    <wsdl2:interface name="calculatorInterface">
        
        <!-- Possible faults in interface -->
        <wsdl2:fault name="errorInOperation" element="tns:somethingIsWrong"/> 

        <!-- the RPC style makes easier to map operations to single Java (or C#
        or whatever) methods, only applicable to in-out or in-only MEPs -->
        <wsdl2:operation name="add" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="tns:simpleAddition" wsaw:Action="urn:add"/>
            <wsdl2:output element="tns:result" wsaw:Action="urn:addResponse"/>
            <wsdl2:outfault ref="tns:errorInOperation"/>
        </wsdl2:operation>
        <wsdl2:operation name="addArray" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="tns:arrayAddition" wsaw:Action="urn:addArray"/>
            <wsdl2:output element="tns:result" wsaw:Action="urn:addArrayResponse"/>
            <wsdl2:outfault ref="tns:errorInOperation"/>
        </wsdl2:operation>
        <wsdl2:operation name="incrementValue" style="http://www.w3.org/ns/wsdl/style/rpc" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="tns:increment" wsaw:Action="urn:incrementValue"/>
            <wsdl2:output element="tns:result" wsaw:Action="urn:incrementValueResponse"/>
            <wsdl2:outfault ref="tns:errorInOperation"/>
        </wsdl2:operation>
    </wsdl2:interface>


    <wsdl2:binding name="calculatorHTTPBinding" interface="tns:calculatorInterface" whttp:methodDefault="POST" type="http://www.w3.org/ns/wsdl/http">
        <!-- whttp:location can be used to add parts to the path of the final
        service URI -->
        <wsdl2:operation ref="tns:add" whttp:location="add"/> <!-- From http://service/calculator/ to http://service/calculator/add -->
        <wsdl2:operation ref="tns:addArray" whttp:location="addArray"/> <!-- From http://service/calculator/ to http://service/calculator/addArray -->
        <wsdl2:operation ref="tns:incrementValue" whttp:location="incrementValue"/> <!-- From http://service/calculator/ to http://service/calculator/incrementValue -->
    </wsdl2:binding>
    <!-- Binding with SOAP (1.2, which is a W3C recommendation) -->
    <wsdl2:binding name="calculatorSOAP12Binding"
    interface="tns:calculatorInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.2">
        <!-- With whttp:mep we specify how to map the in-out WSDL MEP to a SOAP MEP (request-response in this case) -->
        <!-- The whttp:action will be added as a header in the HTTP message -->
        <wsdl2:operation ref="tns:add" wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" wsoap:action="urn:add"/>
        <wsdl2:operation ref="tns:addArray" wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" wsoap:action="urn:addArray"/>
        <wsdl2:operation ref="tns:incrementValue" wsoap:mep="http://www.w3.org/2003/05/soap/mep/request-response" wsoap:action="urn:incrementValue"/>
    </wsdl2:binding>

    <wsdl2:service name="CalculatorService" interface="tns:calculatorInterface">
        <wsdl2:endpoint name="calculatorSOAPEndPoint" binding="tns:calculatorSOAP12Binding" address="http://localhost:8080/axis2/services/CalculatorService"/>
        <wsdl2:endpoint name="calculatorHTTPEndPoint" binding="tns:calculatorHTTPBinding" address="http://localhost:8080/axis2/services/CalculatorService"/>
    </wsdl2:service>
</wsdl2:description>
